name: Build Windows Executable

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with: { python-version: '3.10' }
      - run: |
          python -m pip install --upgrade pip
          pip install pyinstaller customtkinter cryptography
      - run: pyinstaller --name "Aegis" --onefile --windowed --add-data "icon.ico;." AegisApp.py
      - uses: actions/upload-artifact@v4
        with:
          name: Aegis-Executable
          path: dist/Aegis.exe
