# اسم سير العمل الذي سيظهر في علامة تبويب "Actions" في GitHub
name: Build NOVA Executable

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # --- التحديث المهم: إضافة مكتبة Pillow ---
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller customtkinter cryptography Pillow

      - name: Build executable with PyInstaller
        run: pyinstaller --name "NOVA" --onefile --windowed --add-data "icon.ico;." NovaApp.py

      - name: Upload NOVA Executable
        uses: actions/upload-artifact@v4
        with:
          name: NOVA-Executable
          path: dist/NOVA.exe
