name: Build Python Executable

on:
  push:
    branches:
      - main  # Or your default branch

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install customtkinter pyinstaller

    - name: Get customtkinter path
      id: customtkinter-path
      run: |
        echo "CUSTOMTKINTER_PATH=$(python -c "import os, customtkinter; print(os.path.dirname(customtkinter.__file__))")" >> $GITHUB_ENV
      shell: bash

    - name: Package application with PyInstaller
      run: |
        pyinstaller --name "DailyTasks" --onefile --windowed --add-data "${{ env.CUSTOMTKINTER_PATH }};customtkinter/" app.py

    - name: Upload executable artifact
      uses: actions/upload-artifact@v4
      with:
        name: DailyTasks-Executable
        path: dist/DailyTasks.exe
