# اسم سير العمل الذي سيظهر في علامة تبويب "Actions" في GitHub
name: Build mmmx Executable

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies from requirements.txt
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build executable with PyInstaller
        run: pyinstaller --name "mmmx" --onefile --windowed --add-data "icon.ico;." mmmxApp.py

      - name: Upload mmmx Executable
        uses: actions/upload-artifact@v4
        with:
          name: mmmx-Executable
          path: dist/mmmx.exe
